<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
         <script src = "https://cdn.tailwindcss.com">
        </script>
        {% load static %}

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>

        <nav>
            <div><a class = "panel" 
                href="http://127.0.0.1:8000/admin">PANEL ADMINISTRATORA </a></div>
                <a href="{% url 'base:signup' %}"> SIGN UP </a>
        </nav>

        <div class="things">
            
            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>