{% extends 'base/frame.html' %}
 
{% block content %}
<h1> Testtowy tekst 122 </h1>

<div >
    <h2> NEWEST ITEMS </h2>
    <div>
        {% for item in items %}
            <div class="things_DIV"> 
                <a href="#">
                    <div>
                        <h2>  {{item.name}} </h2>
                    </div>
                    <div>
                        <h2>  {{item.price}} </h2>

                    </div>
                    <a class="cart" href="{% url 'base:add' %}"> ADD ITEMS FOR CART </a>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}